streamlit
python-dotenv

langchain
langchain-classic
langchain-core
langchain-community
langchain-text-splitters

langchain-mistralai
langchain-huggingface
langchain-chroma

chromadb
sentence-transformers
pypdf